Source: esos-spacemit
Section: embedded
Priority: optional
Maintainer: weizhi.li <weizhi.li@spacemit.com>
Build-Depends: debhelper-compat (= 13),
               python3,
               scons,
               u-boot-tools,
               device-tree-compiler,
               make,
               git,
               gcc-riscv64-unknown-elf,
               libnewlib-dev,
               lzop
Standards-Version: 4.5.0
Homepage: https://gitee.com/spacemit-buildroot/esos
XBS-Commit-Id: ${misc:CommitId}

Package: esos-spacemit
Architecture: riscv64
Depends: ${misc:Depends},
         kmod
Replaces: bianbu-esos
Conflicts: bianbu-esos
Description: ESOS(Energy Service OS) for SpacemiT platforms
 ESOS is a real-time operating system designed for SpacemiT platforms.

